@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your color scheme */
:root {
  --carnation-pink: #ff99c8;
  --lemon-chiffon: #fcf6bd;
  --nyanza: #d0f4de;
  --uranian-blue: #a9def9;
  --mauve: #e4c1f9;
  --moonstone: #64a6bd;
  --powder-blue: #90a8c3;
  --rose-quartz: #ada7c9;
  --thistle: #d7b9d5;
  --fairy-tale: #f4cae0;
}

.app-container{


}


.app-alignment{
  margin-right: 5%;
  margin-left:5%;
  
}



.beam-ab-align{
  width: 100%;
  height: 10%; 
}


