/* Mobile dock container */
.floating-dock-mobile {
  position: relative;
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

/* The expanded menu on mobile */
.floating-dock-menu {
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.5rem;
  inset-x: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* The button for each item in the mobile menu */
.floating-dock-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #f9fafb; /* Light background */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The toggle button to open the menu */
.floating-dock-toggle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #f9fafb; /* Light background */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Desktop dock container */
.floating-dock-desktop {
  display: flex;
  height: 4rem;
  gap: 1rem;
  align-items: flex-end;
  border-radius: 1rem;
  background-color: #5b2458d6; /* Light background */
  padding: 0 1rem 0.75rem 1rem;
  justify-content: center;
}

/* Container for each icon in the desktop dock */
.floating-dock-icon-container {
  aspect-ratio: 1;
  border-radius: 50%;
  color:aqua;
  background-color: #000000; /* Slightly darker background */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor:pointer;
}

/* Tooltip */
.floating-dock-tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: white;
  font-size: 12px;
  border-radius: 5px;
}

/* Icon inside the container */
.floating-dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-check-styles{
  color:rgb(164, 239, 129);

}

.icon-edit-styles{
  color:rgb(223, 208, 2);


}

.icon-delete-styles{
  color:red;

}



.icon-check {

  color:rgb(215, 255, 196);
}

.icon-uncheck {
  color: red; /* Color for uncheck icon */
}

.icon-edit {

  color:rgb(223, 208, 2);
}

.icon-done {
  color: green; /* Color for done icon */
}

.icon-delete {
  color: rgb(177, 43, 43); /* Color for delete icon */
}
